<html lang="en">
  <body>
    <div
      class="modal fade"
      id="reg-modal"
      tabindex="-1"
      aria-labelledby="modal-title"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Get the Latest Updates</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
              exercitationem laboriosam nihil minus voluptatibus harum aliquam
              consequatur pariatur inventore dignissimos illum excepturi ratione
              ipsum sit iusto alias eligendi fugit laborum?
            </p>
            <label for="modal-email" class="form-label"
              >Your email address:</label
            >
            <input
              type="text"
              class="form-control"
              id="modal-email"
              placeholder="e.g. mario@example.com"
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
